<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Covid Crawler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static%}
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <link rel="stylesheet" href="{% static 'index.js' %}">
      
        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
            </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
         <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       
       
       
        
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <h1> <a class="navbar-brand" href="#">Covid Tracker</a> </h1>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li id="home" class="nav-item">
                <a class="nav-link active" aria-current="page"  href="{% url 'home'%}">Home</a>
              </li>
              <li id="home" class="nav-item">
                <a class="nav-link"  href="https://covid19.who.int/">More Info</a>
              </li>
      
            
               <li id="home" class="nav-item">
                <div class="dropdown" id+"drop">
                 <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                             Vaccines
                 </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="https://www.cowin.gov.in/">India</a></li>
    <li><a class="dropdown-item" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-(covid-19)-vaccines?adgroupsurvey={adgroupsurvey}&gclid=Cj0KCQjw06OTBhC_ARIsAAU1yOVlck7FsZsfjFyp1_4ELep0IOKNbmRC5FDXadw24a8cv-vMHokWDroaAmrJEALw_wcB">Other countries</a></li>
    <li><a class="dropdown-item" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">More info</a></li>
  </ul> 
</div>
              </li>

               <li class="nav-item">
                <h5 class="nav-link ">{{date}}</h5>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" id = "gfg" type="text" class="new" onclick="record()" placeholder="Search"  aria-label="Search">
              <button class="btn btn-outline-success" id="speak" type="text">Search</button>

            </form>
          </div>
        </div>
      </nav>
        
      

 <div class="container-fluid" id="1"> 
            
    <div class="row">
        <div class="card col m-2" style="width: 15rem;">
    
           <div class="card-body">
            
              <h5 class="card-title">New Confirmed cases</h5>
              <p class="card-text">{{all.NewConfirmed}}</p>
              <a href="https://www.google.com/search?q=new+confirmed+cases+of+covid-19&rlz=1C1RXQR_enIN995IN995&oq=new+confirmed+cases+of+covid-19+&aqs=chrome..69i57j0i512l7j0i390l2.5487j0j7&sourceid=chrome&ie=UTF-8" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card col m-2" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Total Confirmed Cases</h5>
              <p class="card-text">{{all.TotalConfirmed}}</p>
              <a href="https://www.google.com/search?q=total+confirmed+cases+of+coronavirus&oq=total+confirmed+cases+of+coronavirus+&aqs=chrome.0.69i59j0i512l4j0i22i30l5.7246j0j7&sourceid=chrome&ie=UTF-8" class="btn btn-primary">More</a>
            </div>
            </div>
            <div class="card col m-2" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">New Deaths</h5>
                  <p class="card-text">{{all.NewDeaths}}</p>
                  <a href="" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="card col m-2" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Total Deaths</h5>
                  <p class="card-text">{{all.TotalDeaths}}</p>
                  <a href="https://www.google.com/search?q=total+deaths+due+to+coronavirus&sxsrf=ALiCzsYwTPQlF_GKcKuOam2lZXWVRMe5zw%3A1651121957267&ei=JR9qYqf-D4WK0AT_56SwBg&ved=0ahUKEwjnpPnN_LX3AhUFBZQKHf8zCWYQ4dUDCA4&uact=5&oq=total+deaths+due+to+coronavirus&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEAcQHjIGCAAQBxAeMgUIABCABDIGCAAQBxAeMgYIABAHEB4yBQgAEIAEMgYIABAHEB4yBggAEAcQHjIFCAAQgAQyBAgAEB46BwgjELADECc6BwgAEEcQsAM6CggAEEcQsAMQyQM6CAgAEJIDELADSgQIQRgASgQIRhgAUP0OWIITYLAWaAJwAXgAgAGUA4gB4QuSAQUzLTMuMZgBAKABAcgBCsABAQ&sclient=gws-wiz" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="card col m-2" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">New Recovered</h5>
                  <p class="card-text">{{all.NewRecovered}}</p>
                  <a href="" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="card col m-2" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Total Recovered</h5>
                  <p class="card-text">{{all.TotalRecovered}}</p>
                  <a href="" class="btn btn-primary">More</a>
                </div>
            </div>
            

        
          </div>

          <br>
          <div class="speechnow">
           <label for="Speech Recognition">Country name</label>
           <input type="text" name="" id="speechToText" placeholder=" click here " onclick="record()">
          </div>
          
          <br>
          <table class="table table-striped" id="mytable">
          <thead>
            <tr>
              <th>SR NO.</th>
              <th>COUNTRY</th>
              <th>COUNTRY CODE</th>
              <th>NEW CONFIRMED</th>
              <th>TOTAL CONFIRMED</th>
              <th>NEW DEATHS</th>
              <th>TOTAL DEATHS</th>
              <th>NEW RECOVERED</th>
              <th>TOTAL RECOVERED</th>
              <th>DATE</th>
            </tr>
          </thead>
          
          <tbody id = "geeks">
            {% for l in primary_data %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ l.Country}}</td>
              <td>{{ l.CountryCode}}</td>
              <td>{{ l.NewConfirmed}}</td>
              <td>{{l.TotalConfirmed}}</td>
              <td>{{ l.NewDeaths}}</td>
              <td>{{ l.TotalDeaths}}</td>
              <td>{{ l.NewRecovered}}</td>
              <td>{{ l.TotalRecovered}}</td>
              <td>{{ l.Date}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>


 

        
    </div>    
          
  </div>

  
       
   
   
  </body>




<script>
    
    $(document).ready(function() {
      $("#gfg").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#geeks tr").filter(function() {
              $(this).toggle($(this).text()
              .toLowerCase().indexOf(value) > -1)
          });
      });
  });  

   $(document).ready(function() {
      $("#speechToText").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#geeks tr").filter(function() {
              $(this).toggle($(this).text()
              .toLowerCase().indexOf(value) > -1)
          });
      });
  });  



</script>


    <script>
        function record(){
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function(event) {
                // console.log(event);
                document.getElementById('gfg').value = event.results[0][0].transcript.toLowerCase();
            }
            recognition.start();

        }
    </script>

     <script>
        function record(){
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function(event) {
                // console.log(event);
                document.getElementById('speechToText').value = event.results[0][0].transcript.toLowerCase();
            }
            recognition.start();

        }
    </script>
  
  


     
</html>


